<div class="contents-header">
  <h1>投稿記事編集</h1>
</div>
<div class="article-form">
  <div class="article-new-field article-form-title">
    <h3>投稿編集</h3>
  </div>
  <%= render 'article_detail' %>
</div>