<div class="contents-header">
  <h1>みんなの投稿</h1>
</div>

<div class="article-index-main">
    <article class="article-index">
      <%= render "articles/articles_card",articles: @articles %>
    </article>
      <%= paginate @articles %>
</div>