<div  class="profile-main-fixed">
<div class="profile-element-fixed">
  <div class="profile_img">
  <%= attachment_image_tag @user, :profile_img, fallback: "no_image.jpg", size: "100x100", class:"rounded-circle"%>
  </div>
</div>
<hr />
<div class="profile-element-fixed">
    <div class="profile-detail-fixed"><%= @user.name %></div>
</div>
<% if @user.id == current_user.id %>
<div class="profile-element-fixed">
    <div class="profile-detail-fixed"><%= link_to "", edit_user_path(current_user.id), class:"btn btn-outline-secondary fas fa-user-cog" %></div>
    <div class="profile-detail-fixed"><%= link_to "", new_article_path, class:"btn btn-outline-secondary far fa-plus-square" %></div>
</div>
</div>
<% end %>
