<div class="contents-header">
  <h1>Followers</h1>
</div>
<div class="users-relationships">
  <table class="table table-reflow">
  <tbody>
    <% @user.followers.each do |user| %>
    <tr>
      <td><%= attachment_image_tag user, :profile_img, fallback: "Profile_no_image.png", size: "50x50", class:"rounded-circle"%></td>
      <td><%= user.name %></td>
      <td><%= link_to "プロフィールを見る", user_path(user), class:"btn btn-outline-info" %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>
