<div class="contents-header">
  <h1>気になる一覧</h1>
</div>

<div class="contents-main" >
<%= render "user_show" %>
<div class="contents-bottom">
<%= render "articles/articles_card", articles: @articles %>
</div>
</div>