  <div class="row">
    <h1>ようこそsBread out!へ</h1>
  </div>
  <div class="about-contents row m-15 text-align-center">
    <p>ここは「パンが好き！」という方々が集う場所です。</br>
        会員登録をしなくてもサイトの閲覧は可能ですが、</br>
        会員登録すれば、投稿の他、お気に入り登録や、</br>
        気になる登録機能が使えるようになります。</br>
        あなたのお気に入りのパン屋さんをみんなとシェアしませんか？
    </p>
  </div>
  <a class="btn btn-success justify-content-center" href="/users/sign_up">早速会員登録する</a>

