  <div class="about-main">
    <h1 class="contents-header">ようこそsBread out!へ</h1>
    <p class="about-text">ここは「パンが好き！」という方々が集う場所です。</br>
        会員登録をしなくてもサイトの閲覧は可能ですが、</br>
        会員登録すれば、投稿の他、お気に入り登録や、</br>
        気になる登録機能が使えるようになります。</br>
        あなたのお気に入りのパン屋さんをみんなとシェアしませんか？
    </p>
    <div class="about-link">
      <a class="btn btn-success" href="/users/sign_up">早速会員登録する</a>
    </div>
  </div>

