
<ul class="bxslider">
<li><img src="/slideshow1.jpg" alt="" height="300"></li>
<li><img src="/slideshow2.jpg" alt="" height="300"></li>
<li><img src="/slideshow3.jpg" alt="" height="300"></li>
<li><img src="/slideshow4.jpg" alt="" height="300"></li>
</ul>