<div class="about">
  <div class="about-heading">
    <h5>このサイトについて</h5>
  </div>
    <p class="about-text">ここは「パンが好き！」という方々が集う場所です。</br>
          会員登録をしなくてもサイトの閲覧は可能ですが、</br>
          会員登録すれば、投稿の他、お気に入り登録や、</br>
          気になる登録機能が使えるようになります。</br>
          あなたのお気に入りのパン屋さんをみんなとシェアしませんか？
    </p>
  <div class="about-link">
    <a class="btn btn-success" href="/users/sign_up">早速会員登録する</a>
  </div>

</div><div class="top-main">
  <ul class='bxslider'>
    <li class="slide-image"><img src= '/assets/slideshow1.jpg'></li>
    <li class="slide-image"><img src= '/assets/slideshow2.jpg'></li>
    <li class="slide-image"><img src= '/assets/slideshow3.jpg'></li>
    <li class="slide-image"><img src= '/assets/slideshow4.jpg'></li>
  </ul>
  
  <script>
        $(function(){
    	 $('.bxslider').bxSlider({
    		auto: true,
    		mode: 'fade',
    		speed: 1000,
    		pager: false,
    	});
    });
  </script>
</div>
