<div class="top-main">
  <ul class='bxslider'>
    <li class="slide-image"><img src= '/assets/slideshow1.jpg'></li>
    <li class="slide-image"><img src= '/assets/slideshow2.jpg'></li>
    <li class="slide-image"><img src= '/assets/slideshow3.jpg'></li>
    <li class="slide-image"><img src= '/assets/slideshow4.jpg'></li>
  </ul>
</div>