/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kiwi+Maru&family=M+PLUS+Rounded+1c:wght@100&family=Pangolin&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
  padding-top: 70px;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-text {
  text-align: center;
}
/* TOPページ */
.top-main {
  width: 100%;
}

.bxslider img {
  width: 100% !important;
  height: auto !important;
}

.contents-header {
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  background-image: url(about-background.jpg) ;
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* ABOUT */
.about-text, .about-link, .about-heading {
  text-align: center;
  margin: 30px 0;
  padding: 15px;
}

/* User プロフィールページ */
.profile-main {
  height: 80%;
  margin-top: 30px;
}

.profile-element {
  display: flex;
  justify-content:space-between;
  height: auto;
  width: 40%;
  margin: 0 auto;
}

.profile-detail {
  padding: 50px 50px;
}

.image-field {
  width: 40%;
  margin: 0 auto;
  text-align: right;
}

/*プロフィール固定用*/
.profile-main-fixed {
  height: auto;
  width: 100%;
  margin-top: 30px;
}

.profile-element-fixed {
  display: flex;
  justify-content:center;
  height: auto;
  margin: 0 auto;

}
.profile-detail-fixed {
  padding: 30px 30px;
}

/*新規投稿ページ*/
.contents-main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1200px;

}

.contents-bottom {
  width: 100%;
  margin-top: 15px;
}
.article-new-field {
  display: flex;
  justify-content: center;

}
.article-new-detail {
  padding: 15px 15px;
}

.submit-button {
  text-align: center;
}

/*Article show*/

.show-main {
  width: 70%;
  margin: 0 auto;
}

.article-detail {
  display: flex;
}

.dates {
  flost: right;
}