/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Kiwi Maru', serif;
  font-family: 'Kosugi Maru', sans-serif;
}

.field_with_errors {
  display: contents;
}

#error_explanation, .alert {
  background-color: #ffb6c1;
  margin: 5px;
}

.notice {
  background-color: #90ee90;
}

ul {
  list-style: none;
}
main {
  width: 100%;
  padding-top: 70px;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-text {
  text-align: center;
}
/*点線*/
.cp_hr02 {
	border-width: 1px 0 0 0;
	border-style: dashed;
	border-color: #ffb300;
}

/* TOPページ */
.top-main {
  width: 100%;
}

.bxslider img {
  width: 100% !important;
  height: auto !important;
}

.contents-header {
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  background-image: image-url("about-background.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* ABOUT */
.about-text, .about-link, .about-heading {
  text-align: center;
  margin: 30px 0;
  padding: 15px;
}

/* User プロフィールページ */
.profile-main {
  height: auto;
  margin-top: 30px;
}

.profile-element {
  display: flex;
  justify-content: center;
  height: auto;
  width: 70%;
  margin: 0 auto;
}

.profile-detail {
  width: auto;
  padding: 15px 15px;
  line-height: auto;
}

.image-field {
  width: 40%;
  margin: 0 auto;
  text-align: right;
}

.profile-detail-introduce {
  width: 150px;
  height: auto;
}


/*プロフィール固定用*/
.profile-main-fixed {
  height: auto;
  width: auto;
  margin-top: 30px;
  margin-right: 30px;
}

.profile-element-fixed {
  display: flex;
  justify-content:center;
  height: auto;
  margin: 0 auto;

}
.profile-detail-fixed {
  padding: 30px 30px;
}

/*新規投稿ページ*/
.contents-main {
  display: flex;
  justify-content: center;
  width: 70%;
  height: auto;
  margin: 0 auto;

}

.contents-bottom {
  width: 100%;
  margin-top: 15px;
}
.article-new-field {
  display: flex;
  justify-content: center;

}
.article-new-detail {
  padding: 15px 15px;
}

.submit-button {
  text-align: center;
}

/*Article index*/
.article-index {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0 auto;
}

.article-card {
  width: 300px;
  height: 400px;
  margin: 15px;
}

.pagination {
  justify-content: center;
}

/*Article show*/

.show-main {
  width: 70%;
  margin: 0 auto;
}

.article-detail {
  display: flex;
}
.article-body, .article-map {
  margin: 15px;
}

.article-button {
  line-height: 54px;
}

/*Unsubscribe*/
.unsubscribe-box {
  width: 70%;
  margin:0 auto;
}

.unsubscribe-button {
  margin: 15px;
}

.article-map {
  width:100%;
  padding-top:50%;
  position: relative;
  margin:auto;
  }

.gmap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  }

  /*フォロー・フォロワー一覧*/
  .users-relationships {
    width: 60%;
    margin: 0 auto;
  }

/*以下レスポンシブ対応*/
@media screen and (max-width: 425px) {
.profile-element, .article-index, .article-detail,.article-new-field {
  display: block;
  justify-content: center;
}

.contents-main {
  display: block;
  justify-content: center;
}



}